/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;

	background: #fff;
	padding: 0 45px 20px;
	margin-top:0;
}

/* Write all remaining styles here */
.main{
  color:gray;
}

.pic{
  border:5px solid gray;
}